*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
h1{
    font-weight: bold;
    text-align: center;
    font-size:100px;
         margin-top: 200px;
        
         
         
    
}

header{
    padding: 0 20px;
    background-color: #1d1f1d;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
header a {text-decoration: none;}

#brand{
    font-weight: bold;
    font-size: 18px;
    display: flex; 
    align-items:center;
}
#brand a {
    color: #f7faf8;
}
ul{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul a{
    color: white;
}

ul li {padding: 5px;
      margin-left: 10px;
}
ul li:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
#login,#signup {border-radius: 5px;
              padding: 5px 8px;
}
#login {border:1px solid #f7f8fb;}
#signup{border: 1px solid #ff3860;}
#login a {color: #09c372;}
#signup a{color: #09c372;}

#hamburger-icon{
    margin: auto 0; 
    display: none;
     cursor:pointer;
}

#hamburger-icon div {width: 35px;
   height: 3px; background-color: white;
   margin: 6px 0;
   transition: 0.4s;
}
.open  .bar1{
-webkit-transform: rotate(-45deg) translate(-6px , 6px);
transform:rotate(-45deg) translate(-6px ,6px);
}
.open .bar2{opacity: 0;}
.open .bar3{
    -webkit-transform: rotate(45deg) translate(-6px , -8px);
transform:rotate(45deg) translate(-6px ,-8px);
}
.open  .mobile-menu{
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
}
.mobile-menu{
display: none;
position: absolute;
top: 50px;
left: 0;
height: calc(100vh-50px);
width: 100%;
}
.mobile-menu li
{
margin-bottom: 10px;
}
@media only screen and (max-width:500px)
{
header nav{
    display: none;
}
#hamburger-icon{
    display: block;
}
}


.logo{width: 100px;
cursor: pointer;
margin-top: 30px;}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
    margin-top: 150px;
}
h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}
.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d),#000729;
    position: absolute;
    right: 0;
    top: 0;
}
.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}

.useful-links img{
width: 25px;
margin: 5px auto;
cursor: pointer;

}

.social-links img, .useful-links img{
width: 25px;
margin: 5px auto;
cursor: pointer;
}
.social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom:30px;

}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:absolute;
    bottom: -70px;

}
.bubbles img{
  width: 50px;
  animation: bubbles 7s linear infinite;
}
@keyframes bubbles { 
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50%{opacity: 1;} 
    70%{opacity: 1;}
    100%{transform: translateY(-80vh);
        opacity: 0;}
}
.bubbles img:nth-child(1){
    width: 25px;
    animation-delay: 2s;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    width: 25px;
    animation-delay: 3s;
}
.bubbles img:nth-child(1){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    width: 20px;
    animation-delay: 6s;
}
.bubbles img:nth-child(7){
    width: 35px;
    animation-delay: 7s;
}
.bubbles img:nth-child(8){
    width: 35px;
    animation-delay: 6.5s;
}
.bubbles img:nth-child(9){
    width: 35px;
    animation-delay: 3s;
}
.bubbles img:nth-child(10){
    width: 35px;
    animation-delay: 4.5s;
}
.bubbles img:nth-child(11){
    width: 35px;
    animation-delay: 2s;
}

@media screen and (max-width:  500px) {
    h1{
        font-size: 36px;
        line-height: 50px;
    }
    .side-bar{
    width: 100%;
    height: 50px;
    top: auto;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}
.social-links{
    width:auto;
    position: unset;
    transform:none;
}
.useful-links{
    width: auto;
    position:unset;

}
.menu{
    width: 18px;
    margin:0;
}
}
@media screen and (max-width: 900px) and (min-width: 600px){
   /*     add css for tablet screen size     */
}